if [ -x /usr/bin/dircolors ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
	alias ls='ls --color=auto'
	alias grep='grep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias egrep='egrep --color=auto'
fi

# standard aliases
alias ll='ls -la'
alias la='ls -A'
alias l='ls -l'
alias cd.='cd ..'
alias cd..='cd ..'
alias mkdir='mkdir -pv'
cl() { cd $1 && la ; }
mc() { mkdir $1 && cd $1 ; }


if [ -x /usr/bin/packer ]; then
	# aur aliases
	alias aurinstall='sudo packer --noedit --auronly -S'
	alias aurupgrade='sudo packer --noedit --auronly -Syu'
	alias aursearch='sudo packer --auronly -Ss'
fi

if [ -x /usr/bin/pacman ]; then
	# pacman aliases
	alias install='sudo pacman -S'
	alias upgrade='sudo pacman -Syu'
	alias uninstall='sudo pacman -Rs'
	alias search='sudo pacman -Ss'
fi

if [ -x /usr/bin/apt-get ]; then
	# apt aliases
	alias install='sudo apt-get install'
	alias update='sudo apt-get update'
	alias upgrade='sudo apt-get update && sudo apt-get upgrade'
	alias dist-upgrade='sudo apt-get update && sudo apt-get dist-upgrade'
	alias autoremove='sudo apt-get autoremove'
	alias uninstall='sudo apt-get remove'
	alias search='apt-cache search'
	alias showpkg='apt-cache show'
fi

# Toggle git edit mode
alias editmode='([ -d ~/.git ] && mv ~/.git{,_repo}) || mv ~/.git{_repo,}'

# Some other aliases
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
alias 'du.'='du -hsx * | sort -rh | head -10'
alias reload='source ~/.zshrc'
alias cleanflash='rm -rf ${HOME}/.macromedia/* ${HOME}/.adobe/*'
alias cleantemp='find $HOME -type f -name "*~" -print -exec rm {} \;'
alias cleanlatex='rm -f dia/*.(pdf|eps) ; rubber --clean *.tex'

alias ports='sudo netstat -tulpan'
alias myip='python -c "from pyquery import PyQuery as pq; dom=pq(url=\"http://checkip.dyndns.org:8245/\"); print dom(\"body\")[0].text.split(\" \")[-1]"'
alias temp='python -c "from pyquery import PyQuery as pq; dom=pq(url=\"http://marge.campus.ltu.se/temp/\"); print dom(\"td.px13>pre\")[0].text.split(\"\n\")[3].replace(\"|\",\"\").strip()"'
alias su='sudo -E -s'
alias root='sudo -E -s'
alias sudo='sudo ' # Make sudo and aliases compatible
alias tmux="TERM=screen-256color-bce tmux"

alias fixkbd="xmodmap ~/.Xmodmap"

diaconvert() { echo $1 | awk -F '.' '{ print $1 }' | awk '{ print "dia -e " $f ".eps -t eps " $f ".dia ; epstopdf " $f ".eps " }' | sh ;}

wsharkremote() { wireshark -k -i <(ssh $1 "tcpdump -i $2 -U -s0 -w - $3"); }

mktmp() { mkdir $1 && sudo mount -t tmpfs none $(pwd)/$1 }
rmtmp() { sudo umount $(pwd)/$1 && rmdir $1 }

builddeb() {
	[ -d $1 ] || exit 1
	mkdir /tmp/mattias
	rsync -ar $1 /tmp/mattias
	cd /tmp/mattias/$1 ; dpkg-buildpackage -b -tc
	rm -rf /tmp/mattias/$1
}


# copy and paste from the command line - http://www.shell-fu.org/lister.php?id=177
ccopy(){ cp $1 /tmp/ccopy.$1; }
alias cpaste="ls /tmp/ccopy* | sed 's|[^\.]*.\.||' | xargs -I % mv /tmp/ccopy.% ./%"

alias mntdropbox='encfs -o allow_root ~/Dropbox/encrypted.bc/ ~/DropboxDecrypted/'

viminstall(){
	git clone https://github.com/gmarik/Vundle.vim.git ~/.vim/bundle/Vundle.vim
	vimupgrade
}
vimupgrade(){
	vim +BundleInstall +BundleClean +qall
}

case $HOST in
	toad)
		hdmi() {
			case "$1" in
				fhd)
					xrandr --auto --output HDMI2 --mode 1920x1080 --right-of eDP1
				;;
				off)
					xrandr --auto --output HDMI2 --off
				;;
				*)
					echo "Usage off|fhd"
				;;
			esac
		}
		homedesk() {
			case "$1" in
				normal)
					xrandr --auto --output HDMI1 --mode 1680x1050 --right-of eDP1 --rotate normal
				;;
				rotate)
					xrandr --auto --output HDMI1 --mode 1680x1050 --right-of eDP1 --rotate left
				;;
				off)
					xrandr --auto --output HDMI1 --off
				;;
				*)
					echo "Usage off|normal|rotate"
				;;
			esac
		}
	;;
	*)

	;;
esac
