alias ls=exa
alias ll='exa -la --git'
alias la='exa -a'
alias l='exa -l --git'
alias cd.='cd ..'
alias cd..='cd ..'
alias mkdir='mkdir -pv'
mc() { mkdir $1 && cd $1 ; }

alias g='git'

# Some other aliases
alias reload='source ~/.zshrc'
alias cleantemp='find $HOME -type f -name "*~" -print -exec rm {} \;'
alias cleanlatex='rm -f dia/*.(pdf|eps) ; rubber --clean *.tex'

alias ports='sudo netstat -tulpan'
alias pping=prettyping
alias su='sudo -E -s'
alias root='sudo -E -s'
alias sudo='sudo ' # Make sudo and aliases compatible
alias tmux="TERM=screen-256color-bce tmux"
upgrade () {
    brew upgrade
    brew cask upgrade
    mas upgrade
    asdf plugin-update --all
    rustup update
    tldr --update
}

alias fixkbd="xkbcomp ~/.keymap.xkb $DISPLAY 2>/dev/null"

mktmp() { mkdir $1 && sudo mount -t tmpfs none $(pwd)/$1 }
rmtmp() { sudo umount $(pwd)/$1 && rmdir $1 }

# Reload all specifically loaded modules
modreload() {
    for m in $(cat /etc/modules-load.d/*); do
        sudo modprobe $m
    done
}

alias docker-gc="FORCE_IMAGE_REMOVAL=1 docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /etc:/etc spotify/docker-gc"

# ssh via sshrc to vagrant boxes
vs() {
    TARGET_HOST=${1-"default"}
    vagrant ssh-config ${TARGET_HOST} > /tmp/vagrantsetup_${TARGET_HOST}
    sshrc -F /tmp/vagrantsetup_${TARGET_HOST} ${TARGET_HOST}
}

case $HOST in
    x230)
        netw() {
            case "$1" in
                f*)
                    sudo systemctl stop netctl-auto@wlp3s0.service
                    sudo netctl start fixed
                ;;
                d*)
                    sudo netctl stop fixed
                    sudo systemctl start netctl-auto@wlp3s0.service
                ;;
                *)
                    echo "Usage fixed|default"
                ;;
            esac
        }
    ;;
    *)

    ;;
esac
