[submodule ".zshgit"]
	path = .zshgit
	url = git@github.com:olivierverdier/zsh-git-prompt.git
[submodule ".zsh/zsh-syntax-highlighting.git"]
	path = .zsh/zsh-syntax-highlighting.git
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
