*

.colormap
.aliases
.bashrc
.conkyrc
.gitconfig
.gitignore
.gitignore_global
.hgrc
.inputrc
.keymap.xkb
.screenrc
.sshrc
.sshrc.d/
.tmux.conf
.tmuxinator.zsh
.vimrc
.xsessionrs
.zshrc
.themes/solarized/
.vimsnippets/
.config/openbox/
.config/terminator/
.config/tint2/
.bin/
