[user]
    email = me@mlundberg.se
    name = Mattias Lundberg
[color]
    ui = auto
[alias]
    st = status --short --branch
    ci = commit
    cia = commit --amend --no-edit
    br = branch
    co = checkout

    # Diffing
    df = diff
    dc = diff --cached

    # Updating
    fa = fetch --all --prune
    ra = rebase --abort
    rc = rebase --continue

    # Pushing
    pp = push origin
    ppf = push origin --force-with-lease

    # Logging
    lol = log --pretty=format:"%C(yellow)%h\\ %Cblue%G?%Cred%d\\ %Creset%s%Cgreen\\ (%cr)%Cblue\\ [%cn]" --decorate --graph
    lot = log -n 15 --pretty=format:"%C(yellow)%h\\ %Cblue%G?%Cred%d\\ %Creset%s%Cgreen\\ (%cr)%Cblue\\ [%cn]" --decorate --graph
    lola = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ (%cr)%Cblue\\ [%cn]" --decorate --numstat

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard

    # Cleanup
    reset-permission = "!git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply"
    cleanbranches = "!git branch --merged | grep -v \"*\" | xargs -n 1 git branch -d"
[core]
    editor = "emacs -nw"
    excludesfile = ~/.gitignore_global
    autocrlf = input
    pager = delta --light
[merge]
    prompt = false
[push]
    default = current
    pushDefault = origin
[pull]
    rebase = true
[commit]
    gpgsign = true
[advice]
    detachedHead = false
[include]
    path = ~/.gitconfig.local
[gitlab]
    user = mattiaslundberg
[github]
    user = mattiaslundberg
[init]
    defaultBranch = master
