*

!.colormap
!.aliases
!.bashrc
!.conkyrc
!.gitconfig
!.gitignore
!.gitignore_global
!.hgrc
!.inputrc
!.keymap.xkb
!.screenrc
!.sshrc
!.sshrc.d/
!.tmux.conf
!.tmuxinator.zsh
!.vimrc
!.xsessionrs
!.zshrc
!.zprofile
!.themes/solarized/
!.vimsnippets/
!.config/openbox/
!.config/terminator/
!.config/tint2/
!.config/nvim/init.vim
!.colormap
!.bin/
!bin/

!*/

Documents/
code/
.vim/
.config/nvim/plugged/
.vagrant.d/
