snippet     test
abbr        def test(..)
    def test_${1}(self):
        ${2}

snippet     testclass
abbr        class TestA(TestCase)
    from django.test import TestCase

    class ${1}Test(TestCase):
        ${2}

snippet     logger
abbr        logging
    import logging

    logger = logging.getLogger(__name__)
