snippet     test
abbr        def test(..)
options     head
    def test_${1}(self):
        ${2}

snippet     testclass
abbr        class TestA(TestCase)
options     head
    from django.test import TestCase

    class ${1}Test(TestCase):
        ${2}

snippet     logger
abbr        logging
options      head
    import logging

    logger = logging.getLogger(__name__)
